
.fondoCabecera {
  background-color: gray;
  text-align: center;
  min-height: 100px;
}

.fondoRoles {
  background-color: rgb(209, 209, 209);
  text-align: center;
  min-height: 800px;
}

.fondoDashboard {
  background-color: greenyellow;
  text-align: center;
  min-height: 800px;
}